.container{
    height: 90vh;
    width: 80vw;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 60px 60px 60px 30px 60px;
    grid-template-rows: repeat(3,60px) 30px 60px;
    grid-template-columns: repeat(6,50px);

    grid-template-areas: 
    "A1 A1 A2 A2 A3 A3"
    "A4 A4 A2 A2 A3 A3"
    "A5 A5 A5 A5 A3 A3"
    "A5 A5 A5 A5 A6 A6"
    "A7 A7 A7 A7 A7 A7";
}


.child1{
    background-color: yellow;
    grid-area: A1;
}

.child2{
    background-color: red;
    grid-area: A2;
}

.child3{
    background-color: blue;
    grid-area: A3;
}

.child4{
    background-color: skyblue;
    grid-area: A4;
}

.child5{
    background-color: greenyellow;
    grid-area: A5;
}

.child6{
    background-color: orange;
    grid-area: A6;
}
.child7{
    background-color: grey;
    grid-area: A7;
}